<% content_for :title do %>Technical Interview Questions<% end %>
<div class="row">
  <div class="small-12 large-12 columns panel">
    <h1>Technical Interview Questions</h1>
    <p id="tag_cloud"><strong>Filter by Tag:</strong>
      <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </p>
   <%= link_to "Post a Question", new_question_path, class: "button small alert" %>
    <% @questions.each do |question| %>
      <hr>
      <h4><%= link_to question.title, question_path(question) %></h4>
      <%= link_to question_path(question) do %><span class="label"><%= question.answers.count %> answers</span><% end %> <%= link_to question_path(question) do %><span class="label"><%= question.kudos.count %> kudos</span><% end %> <%= link_to question_path(question) do %><span class="label"><%= question.favorites.count %> saves</span><% end %> <%= link_to question_path(question) do %><span class="label"><%= question.impressionist_count %> page views</span><% end %><br>
      <% unless question.tag_list.count < 1 %>
        <span class="label"><%= raw question.tag_list.map { |t| link_to t, tag_path(t) }.join('</span> <span class="label">') %></span>
      <% end %>
    <% end %>
    <hr>
    <%= will_paginate @questions, renderer: FoundationPagination::Rails %>
  </div>
</div>