<% content_for :title do %><%= @question.title %><% end %>

<div class="row">
  <div class="small-12 large-12 columns panel">
    <h1><%= @question.title %></h1>
    <p><%= markdown @question.content %></p>
    <hr>
    <p class="text-right">
      <%= link_to "Edit", edit_question_path(@question), class: "button [tiny small large]" %>
      <%= link_to "Delete", question_path(@question), method: :delete, class: "button [tiny small large]" %>
    </p>
    <p class="text-right">Posted by: <%= link_to @question.user.name, "https://github.com/#{@question.user.name}" %></p>
    <p class="text-right"><%= time_ago_in_words(@question.created_at) %> ago</p>
  </div>
</div>

<% @answers.each do |answer| %>
  <%= answer.content %><br>
<% end %>

<% if current_user %>
  <%= form_for Answer.new do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Your answer" %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.submit %>
  <% end %>
<% else %>
  <p>Please log in to answer!</p>
<% end %>