<% content_for :title do %><%= @question.title %><% end %>
<style>
  h1 {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Candal', sans-serif;
  }
</style>
<div class="row">
  <div class="small-12 large-12 columns panel">
  <%= render partial: "layouts/alerts" %>
    <p>
    <h1><%= @question.title %></h1>
    <p><%= markdown @question.content %></p>
    <hr>
    <% if current_user %>
      <p>
        <% if current_user %>
          <% if current_user %>
            <%= link_to kudos_path(question_id: @question.id), class: "fa fa-thumbs-up", method: :post do %>
            <% end %>
          <%= @question.kudos.count %>
        <% end %>
        <i class="fa fa-floppy-o"></i>
        <% end %>
      </p>
    <% end %>
    <% if current_user %>
      <% if current_user.id == @question.user.id %>
      <p class="text-right"><%= link_to "edit", edit_question_path(@question), class: "button [tiny small large]" %>
        <%= link_to "delete", question_path(@question), method: :delete, class: "button [tiny small large]" %></p>
      <% end %>
    <% end %>

    <div class="gravatar-body"><%= gravatar_for(@question.user) %></div>
    <% if @question.user.provider == "github" %>
      <p class="text-right">Posted by: <i class="fa fa-github-square"></i> <%= link_to @question.user.name, "https://github.com/#{@question.user.name}" %><br>
    <% else %>
      <p class="text-right">Posted by: <i class="fa fa-linkedin-square"></i> <%= link_to @question.user.name, @question.user.url %><br>
    <% end %>
    <%= time_ago_in_words(@question.created_at) %> ago</p>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns panel">
<% if current_user %>
<h3>Answer Question</h3>
  <%= render partial: "answers/new", locals: { question: @question } %>
<% else %>
  <h3>Please log in to answer!</h3>
<% end %>
  </div>
</div>

<% @question.answers.each do |answer| %>
  <div class="row">
    <div class="small-12 large-12 columns panel">
      <p><%= markdown answer.content %></p>
      <div class="gravatar-body"><%= gravatar_for(answer.user) %></div>
      <% if answer.user.provider == "github" %>
        <p class="text-right">Posted by: <i class="fa fa-github-square"></i> <%= link_to answer.user.name, "https://github.com/#{answer.user.name}" %><br>
      <% else %>
        <p class="text-right">Posted by: <i class="fa fa-linkedin-square"></i> <%= link_to answer.user.name, answer.user.url %><br>
      <% end %>
      <%= time_ago_in_words(answer.created_at) %> ago</p>
    <%= render partial: "comments/new", locals: { question: @question, answer: answer } %>
    <%= render partial: "comments/show", locals: { answer: answer } %>
    </div>
  </div>
<% end %>