<% content_for :title do %><%= @question.title %><% end %>
<div class="row">
  <div class="small-12 large-12 columns panel">
  <%= render partial: "layouts/alerts" %>


    <% if current_user %>

      <span data-tooltip class="has-tip" title="Give this question a thumbs-up."><%= link_to kudos_path(question_id: @question.id), class: "fa fa-thumbs-up", :remote => true, :id => "thumbs-up-link", method: :post do %>
      <% end %>&nbsp;<span id="thumbs-up-count"><%= @question.kudos.count %></span></span>&nbsp;&nbsp;&nbsp;
      <span data-tooltip class="has-tip" title="Save this question to your Interview Prep area."><%= link_to favorites_path(question_id: @question.id), class: "fa fa-floppy-o", :remote => true, :id => "save-link", method: :post do %>
        <% end %>&nbsp;<span id="save-count"><%= @question.favorites.count %></span></span>&nbsp;&nbsp;&nbsp;

    <% else %>

      <span data-tooltip class="has-tip" title="Sign-in to give this question a thumbs-up."><i class="fa fa-thumbs-up grey-out"></i>&nbsp;<%= @question.kudos.count %></span>&nbsp;&nbsp;&nbsp;
      <span data-tooltip class="has-tip" title="Sign in to save this question to your interview prep area."><i class="fa fa-floppy-o grey-out"></i>&nbsp;<%= @question.favorites.count %></span>&nbsp;&nbsp;&nbsp;

    <% end %>
    <span data-tooltip class="has-tip" title="Pageviews"><i class="fa fa-eye"></i>&nbsp;<%= @question.impressionist_count %></span><br><br>


    <h3><%= @question.title %>
    <small><%= render partial: "questions/share" %></small></h3>
    <hr>

 

    <% if current_user %>
      <% if current_user.id == @question.user.id %>
      <p class="text-right"><%= link_to "edit", edit_question_path(@question), class: "button [tiny small large]" %>
        <%= link_to "delete", question_path(@question), method: :delete, class: "button [tiny small large]" %></p>
      <% end %>
    <% end %>

    <div class="gravatar-body"><%= gravatar_for(@question.user) %></div>
    <% if @question.user.provider == "github" %>
      <p class="text-right">Posted by: <i class="fa fa-github-square"></i> <%= link_to @question.user.name, "https://github.com/#{@question.user.name}" %><br>
    <% else %>
      <p class="text-right">Posted by: <i class="fa fa-linkedin-square"></i> <%= link_to @question.user.name, @question.user.url %><br>
    <% end %>
    <%= time_ago_in_words(@question.created_at) %> ago</p>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns panel">
<% if current_user %>
<h3>Answer Question</h3>
  <%= render partial: "answers/new", locals: { question: @question } %>
<% else %>
  <h3>Please log in to answer!</h3>
<% end %>
  </div>
</div>

<% @question.answers.each do |answer| %>
  <div class="row">
    <div class="small-12 large-12 columns panel clearfix">


        <% if current_user %>
          <span data-tooltip class="has-tip" title="Give this answer a thumbs-up."><%= link_to kudos_path(question_id: @question.id, answer_id: answer.id), class: "fa fa-thumbs-up", method: :post do %><% end %>&nbsp;<%= answer.kudos.count %></span>
        <% else %>
          <span data-tooltip class="has-tip" title="Sign-in to give this question a thumbs-up."><i class="fa fa-thumbs-up grey-out"></i>&nbsp;<%= answer.kudos.count %></span>
        <% end %>




      <p><%= markdown answer.content %></p>
      <hr>
      <% if current_user %>
        <% if current_user.id == answer.user_id %>
        <p class="text-right"><%= link_to "delete", answer_path(answer), method: :delete, class: "button [tiny small large]" %><p>
        <% end %>
      <% end %>
      <div class="gravatar-body"><%= gravatar_for(answer.user) %></div>
      <% if answer.user.provider == "github" %>
        <p class="text-right">Posted by: <i class="fa fa-github-square"></i> <%= link_to answer.user.name, "https://github.com/#{answer.user.name}" %><br>
      <% else %>
        <p class="text-right">Posted by: <i class="fa fa-linkedin-square"></i> <%= link_to answer.user.name, answer.user.url %><br>
      <% end %>
      <%= time_ago_in_words(answer.created_at) %> ago</p>
      <% if current_user %>
    <%= render partial: "comments/new", locals: { question: @question, answer: answer } %>
      <% end %>
    <%= render partial: "comments/show", locals: { answer: answer } %>
    </div>

  </div>
<% end %>

<script src="/assets/question.js"></script>