<% answer.comments.each do |comment| %>
  <hr>
  <p><%= markdown comment.content %></p>
  <% if current_user %>
    <% if current_user.id == comment.user_id %>
      <p class="text-right"><%= link_to "delete", comment_path(comment), method: :delete, class: "button [tiny small large]" %></p>
    <% end %>
  <% end %>
  <% user = User.find(comment.user_id) %>
  <div class="gravatar-body"><%= gravatar_for(user) %></div>
  <% if user.provider == "github" %>
    <p class="text-right">Posted by: <i class="fa fa-github-square"></i> <%= link_to user.name, "https://github.com/#{user.name}" %><br>
  <% else %>
    <p class="text-right"><i class="fa fa-linkedin-square"></i> Posted by: <%= link_to user.name, user.url %><br>
  <% end %>
  <%= time_ago_in_words(comment.created_at) %> ago</p>
<% end %>