<% content_for :title do %>Activity Feed<% end %>
<div class="row">
  <div class="small-12 large-12 columns panel">
    <h1>Activity Feed</h1>
    <% @actions.each do |action| %>
      <hr>
      <h4>
        <%= action.actionable_type + " - " %>
        <% if action.actionable_type == "Question" %>
          <%= link_to action.content, question_path(action.actionable) %>
        <% end %>
        <% if action.actionable_type == "Answer" %>
          <%= link_to action.content, question_path(action.actionable.question) %>
        <% end %>
        <% if action.actionable_type == "Comment" %>
          <%= action.content %>
        <% end %>
        <% if action.actionable_type == "Kudo" %>
          <%= "Thumbs up" %>
        <% end %>

        <div class="gravatar-body"><%= gravatar_for(User.find(action.user_id)) %></div>

        <% if User.find(action.user_id).provider == "github" %>
          <p class="text-right">Posted by: <i class="fa fa-github-square"></i> <%= link_to User.find(action.user_id).name, "https://github.com/#{User.find(action.user_id).name}" %><br>
        <% else %>
          <p class="text-right">Posted by: <i class="fa fa-linkedin-square"></i> <%= link_to User.find(action.user_id).name, User.find(action.user_id).url %><br>
        <% end %>

        <%= " " + time_ago_in_words(action.created_at) + " ago" %>
      </h4>
    <% end %>
    <%= will_paginate @actions, renderer: FoundationPagination::Rails %>
  </div>
</div>