<% content_for :title do %><%= @user.name %><% end %>
<div class="row panel">
  <div class="large-8 columns">
  <%= render partial: "layouts/alerts" %>
    <p>
    <h1>Interview Prep</h1>
    <h3>for <%= @user.name %></h3>
  <p>Click the <i class="fa fa-floppy-o"></i> icon next to a question so that it will appear here for future reference.</p>
    <% if current_user.id == @user.id %>
      <% @user.favorites.each do |favorite| %>
      <hr>
      <div class="row">
        <div class="small-12 large-12 columns">
          <%= link_to favorite.favoritable.title, question_path(favorite.favoritable) %><br>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="large-4 columns panel">
    <h3>My Activity Feed</h3>
    <ul>
    <%= render partial: "actions/show" %>
    </ul>
  </div>
</div>
