<% content_for :title do %><%= @user.name %><% end %>
<div class="row panel">
  <div class="large-12 columns">
  <%= render partial: "layouts/alerts" %>
    <p>
    <h1>Interview Prep</h1>
    <h3>for <%= @user.name %></h3>
    <p>Click the <i class="fa fa-floppy-o"></i> icon on the question's page so that a link will appear here for future reference.<br>
    Click a <i class="fa fa-eraser"></i> icon in the list below to remove a question from your Interview Prep area.</p>
    <% if current_user.id == @user.id %>
      <% @user.favorites.each do |favorite| %>
      <br>
      <span data-tooltip class="has-tip" title="Click to erase favorite"><%= link_to favorite_path(question_id: favorite.favoritable.id, favorite_id: favorite.id), class: "fa fa-eraser", :id => "erase-link", method: :delete do %>
        <% end %></span>
      <span data-tooltip class="has-tip" title="Click to view question page"><%= link_to favorite.favoritable.title, question_path(favorite.favoritable) %></span><br>
      <% end %>
    <% end %>
  </div>
</div>