<% content_for :title do %><%= @user.name %><% end %>
<style>
  h1, h2, h3 {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Candal', sans-serif;
  }
</style>
<div class="row panel">
  <div class="large-8 columns">
  <%= render partial: "layouts/alerts" %>
    <p>
    <h1>Interview Prep</h1>
    <h3>for <%= @user.name %></h3>
  <p>Click the <i class="fa fa-floppy-o"></i> icon next to a question so that it will appear here for future reference.</p>
    <% if current_user.id == @user.id %>
      <% @user.favorites.each do |favorite| %>
      <hr>
      <div class="row">
        <div class="small-12 large-12 columns">
          <%= link_to favorite.favoritable.title, question_path(favorite.favoritable) %><br>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="large-4 columns panel">
    <h3>My Activity Feed</h3>
    <ul>
    <% Action.where(user_id: current_user.id, actionable_type: "Question").each do |action| %>
      <li><%= action.content + " " %><%= link_to action.actionable.title, question_path(action.actionable) %><%= " created by " %> <%= link_to User.find(action.user_id).name, user_path(User.find(action.user_id)) %><%= " " +time_ago_in_words(action.created_at) + " ago" %></li>
    <% end %>
    <% Action.where(user_id: current_user.id, actionable_type: "Answer").each do |action| %>
      <li><%= action.content + " " %><%= action.actionable.content %><%= " created by " %> <%= link_to User.find(action.user_id).name, user_path(User.find(action.user_id)) %><%= " " +time_ago_in_words(action.created_at) + " ago" %></li>
    <% end %>
    </ul>
  </div>
</div>
