<% content_for :title do %><%= @user.name %><% end %>
<style>
  h1, h2, h3 {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Candal', sans-serif;
  }
</style>
<div class="row">
  <div class="small-12 large-12 columns panel">
  <%= render partial: "layouts/alerts" %>
    <p>
    <h1>Interview Prep</h1>
    <h3>for <%= @user.name %></h3>
  <p>Click the <i class="fa fa-floppy-o"></i> icon next to a question so that it will appear here for future reference.</p>
    <% if current_user.id == @user.id %>
      <% @user.favorites.each do |favorite| %>
      <hr>
      <div class="row">
        <div class="small-12 large-12 columns">
          <%= link_to favorite.favoritable.title, question_path(favorite.favoritable) %><br>
        </div>
      </div>
      <% end %>
    <% end %>
    <i class="fa fa-floppy-o grey-out"></i>
    <% Action.where(user_id: current_user.id, actionable_type: "Question").each do |action| %>
      <li><%= action.content + " " %><%= action.actionable.title %></li>
    <% end %>
    <% Action.where(user_id: current_user.id, actionable_type: "Answer").each do |action| %>
      <li><%= action.content + " " %><%= action.actionable.content %></li>
    <% end %>
    <% Action.where(user_id: current_user.id, actionable_type: "Comment").each do |action| %>
      <li><%= action.content + " " %><%= action.actionable.content %></li>
    <% end %>
  </div>
</div>
